<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94364707091-n4gccot6iv6thbipltfeaaf4b430ibf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94364707091-n4gccot6iv6thbipltfeaaf4b430ibf1</string>
	<key>API_KEY</key>
	<string>AIzaSyAQmOXc7dLBEU_-65sTMWUa7TQJn-0b42E</string>
	<key>GCM_SENDER_ID</key>
	<string>94364707091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flipsetter.mobile</string>
	<key>PROJECT_ID</key>
	<string>flipsetter-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>flipsetter-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94364707091:ios:86ef200c21b988414812e6</string>
	<key>DATABASE_URL</key>
	<string>https://flipsetter-mobile.firebaseio.com</string>
</dict>
</plist>